* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: auto;
    display: flex;
    align-items: center;
    border: solid red;
}



img{
    border-radius: 50%;
}

.about-text h1{
    text-align: center;
}

.about-text p {
    text-align: center;
}